main{
    min-height: 80vh;
    margin-top: 4.5rem;
}

a{
    text-decoration: none;
}
h3 {
    padding: 1rem 0;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}

h2 {
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.rating span {
    margin: 0.1rem;
}



.PaymentFormContainer{
    height: 300px;
    
}

.FormContainer{
    width: 100%;
}

.PaymentButton{
    margin-left: auto;
    margin-top: 30px;
}

